@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron text-center my-4 py-4">
    <div class="container">
        <h1 class="display-3">Sistema de Nominas</h1>
        <p class="lead">Este es el Sistema de Nominas a entregar como Proyecto Final.</p>
        <hr class="my-4">
        <p>
            Miguel Araujo <br> Winston Cruz <br>
            Arianna Diaz <br> Estefania Peralta <br>
            Erick Pimentel
        </p>
    </div>
</section>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Crear Empleados y Nominas</h2>
         <img src="~/Content/employee.png" style="display:block; margin-left:auto; margin-right:auto; margin-bottom:10px; height:70px; width:70px;" />

        <p>
            Por medio de esta aplicación se pueden crear empleados (es decir, ingresar sus datos personales), y
            de esta manera tambien ingresar la nomina que llevara el mismo, y las retenciones.
        </p>


    </div>
    <div class="col-md-4 text-center">
        <h2>Editar, filtrar y buscar</h2>
        <img src="~/Content/group.png" style="display:block; margin-left:auto; margin-right:auto; margin-bottom:10px; height:70px; width:70px;" />
        <p>¡Tienes la funcionalidad de editar los empleados y las nominas! Solo dando clic a "Editar". Además, podemos buscar información y filtrarla por el nombre o apellido. </p>
        
    </div>
    <div class="col-md-4 text-center">
        <h2>Usuarios y privilegios</h2>
        <img src="~/Content/avatar.png" style="display:block; margin-left:auto; margin-right:auto; margin-bottom:10px; height:70px; width:70px;" />
        <p>Este proyecto tiene integrado la autenticación y validación de usuarios, los cuales tienen diversos privilegios dentro del mismo.</p>
    </div>
</div>
